* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: white;

  font-weight: 300;
  font-size: 1rem;

}

.navbar {
  background: rgb(255, 255, 255);

  position: fixed;
  top: 0;
  height: 69px;
  line-height: 45px;
  width: 100vw;
  z-index: 10;
  box-shadow: 4px 0 20px -5px rgb(0 0 0 / 10%);


}

.nav-wrapper {
  display: flex;


  padding-top: 10px;
  padding-bottom: 10px;




}

.logo h2 {

  font-weight: 400;

  font-size: 32px;
  margin-left: 276.5px;
  line-height: 1.3em;
  color: #007bff;
  margin-right: 105px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.navbar .menu {
  display: inline-block;
  margin-left: 217.5px;
}

.navbar .line-navbar-top {
  display: inline-block;
}

.navbar li a {
  color: rgb(0, 0, 0);

  font-weight: 400;
  letter-spacing: 40%;
  font-size: 17px;
  margin-right: 40px;
  position: relative;
  text-decoration: none;


}

.fleche {
  transform: rotate(90deg);
  font-size: 15px;

  display: inline-block;


}


.navbar li a.navlink:hover {

  color: #007bff;
}


.dropbtn {
  background-color: white;
  color: rgb(0, 0, 0);

  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  margin-left: -20px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 2px #007bff solid;

}

.dropdown-content a {
  color: black;
  width: 180px;
  height: 45px;
  padding-left: 20px;
  /*padding: 16px 16px;*/
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn a {
  color: #007bff;
}

.dropbtntwo {

  color: rgb(0, 0, 0);
  height: 45px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: white;
  width: 200px;


  padding-right: 70px;
}


.dropdowntwo {
  position: relative;
  display: inline-block;

}

.dropdowntwo-contenttwo {
  display: none;
  position: absolute;
  background-color: white;
  /*padding: 10px 16px 16px 14px;*/
  margin-left: 200px;
  margin-top: -45px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

.dropdowntwo-contenttwo a {
  color: black;
  width: 180px;
  height: 45px;
  text-decoration: none;
  display: block;
  padding-left: 20px;

}

.dropdowntwo-contenttwo a:hover {
  background-color: #f1f1f1
}

.dropdowntwo:hover .dropdowntwo-contenttwo {
  display: block;
}

.dropdowntwo:hover .dropbtntwo {
  background-color: #f1f1f1;
}

/*-------------------------HERO---------------------*/

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;

  align-content: center;
}

.firstlayer {
  background-size: contain;
  position: relative;

}

.firstlayer>.bg-image img {
  margin-top: -20px;
  height: 100vh;
  width: 100%;
  overflow: hidden;

}


.herotitle {
  top: 39%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  letter-spacing: 1.5px;

  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: 650;
}

.herointro p {
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.linked-button-hero {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 32px;
  margin: 0px 8px 8px 0px;
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 400;
  text-decoration: none;
}

.linked-button-hero:hover {
  background-color: black;
}

/*-------------------------ABOUT US---------------------*/

.about-us {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 64.5vh;
  overflow-x: hidden;
  padding: 80px 0px;
  top: -20px;
}



.about-us>.about-us-division {
  position: relative;
  margin-left: 262px;
  margin-right: 262px;
  padding-left: 15px;
  padding-right: 15px;

  height: 90%;


}

.about-us>.about-us-division h1.title-about-us {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 49%;
  top: 50px;
  font-size: 2.7em;
  color: #007bff;
  font-weight: 700;

}

.picture-woman-about-us {
  position: absolute;
  width: 540px;
  height: 360px;
  left: 15px;
  top: 140px;

}

.great-business {
  position: relative;

  top: 136px;
  left: 665px;
  width: 40%
}

.title-great-business {
  font-size: 1.8em;
  margin-left: -3px;
  font-weight: 400;
  margin-bottom: 22px;
  letter-spacing: 0.4px;
}

.para-great-business {
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
  color: grey;
  margin-left: -3px;
  margin-bottom: 22px;
}


/*.liste-great-business {
  

}*/

.liste-great-business ul {
  display: inline-block;
  list-style: none;
}

.liste-great-business li {
  margin-bottom: 15px;
}

.coche-great-business {
  position: absolute;
  width: 15px;
  height: 17px;
  left: -1px;

  margin-top: 3px;

}

.liste-great-business p {

  font-size: 17px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: grey;
  margin-left: 12px;
  padding-left: 25px;
}

/*-------------------------our feature---------------------*/
.our-features {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding: 80px 0;

}

.our-features-division {
  position: relative;
  margin-left: 262px;
  margin-right: 262px;
  padding-left: 15px;
  padding-right: 15px;

  height: 100%;
}

.header-our-features {
  position: relative;

}

.title-our-features {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 49%;
  margin-top: -4px;
  font-size: 2.7em;
  color: #007bff;
  font-weight: 700;

}

.our-feature-intro {
  position: absolute;
  text-align: center;
  font-size: 1.4em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70px;
  width: 800px;
  color: grey;

}

/*=======================OUR TEAM==========================*/
.our-team {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding: 80px 0;



}

.our-team-division {
  position: relative;
  margin-left: 262px;
  margin-right: 262px;

  height: 100%;

}

.header-our-features {
  margin-top: 40px;
  margin-bottom: 215px;
}

.our-team-division>.cards {
  padding-top: 213px;
  background-size: contain;

}

.our-team-division>.cards>.cardlineone {


  justify-content: space-between;
  background-size: contain;


  align-items: center;

}

.our-team-division>.cards>.cardlineone>.cardone {
  background-size: contain;
  background-color: white;
  margin-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  width: 255px;
}

.picture-person-one {

  background-size: contain;
  width: 255px
}

.legende-card-one {
  margin-top: -6px;
  padding: 16px;

}

.overlay-one {
  position: absolute;
  top: 213px;
  left: 12px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-two {
  position: absolute;
  top: 213px;
  left: 295px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-three {
  position: absolute;
  top: 213px;
  left: 579px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-four {
  position: absolute;
  top: 213px;
  left: 862px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-five {
  position: absolute;
  top: 565px;
  left: 12px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-six {
  position: absolute;
  top: 565px;
  left: 295px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-seven {
  position: absolute;
  top: 565px;
  left: 579px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-eight {
  position: absolute;
  top: 565px;
  left: 862px;
  height: 255px;
  width: 0px;
  background-color: #007bff;
  overflow: hidden;
  transition: width 1s;

}

.overlay-one ul {
  list-style: none;
}

.cardone:hover .overlay-one {
  width: 45px;
}

.overlay-two ul {
  list-style: none;
}

.cardtwo:hover .overlay-two {
  width: 45px;
}

.overlay-three ul {
  list-style: none;
}

.cardthree:hover .overlay-three {
  width: 45px;
}

.overlay-four ul {
  list-style: none;
}

.cardfour:hover .overlay-four {
  width: 45px;
}

.overlay-five ul {
  list-style: none;
}

.cardfive:hover .overlay-five {
  width: 45px;
}

.overlay-six ul {
  list-style: none;
}

.cardsix:hover .overlay-six {
  width: 45px;
}

.overlay-seven ul {
  list-style: none;
}

.cardseven:hover .overlay-seven {
  width: 45px;
}

.overlay-eight ul {
  list-style: none;
}

.cardeight:hover .overlay-eight {
  width: 45px;
}


.icons {
  width: 35px;
  padding-bottom: 20px;
  padding-left: 4px;
  padding-top: 10px;
  color: #007bff;
  border-radius: 20px;
}



.fa-facebook-f {
  color: white;
  background-color: #007bff;
  width: 20px;
  height: 20px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-twitter {

  color: white;
  background-color: #007bff;
  width: 20px;
  height: 20px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-linkedin-in {
  color: white;
  background-color: #007bff;
  width: 20px;
  height: 20px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-instagram {
  color: white;
  background-color: #007bff;
  width: 20px;
  height: 20px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-card-one {
  font-size: 19.2px;
  color: black;
  top: -10px;
  font-weight: 400;

}

.para-card-one {
  font-size: 12.8px;
  color: #CCCCCC;
  font-weight: 400;
}

.cardlinetwo {
  top: 320px;
  justify-content: space-between;
  background-size: contain;


  align-items: center;
}

.our-team-division>.cards>.cardlinetwo>.cardfive {
  background-size: contain;
  background-color: white;
  margin-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  width: 255px;
}

/*==================PORTFOLIO================================*/